.top_nav_bar_section {
  display: none;
}

.flexbox_nav_links {
  display: flex;
  justify-content: space-evenly;
  text-align: right;
  margin-right: 5%;
}

.flexbox_item_nav {
  padding-left: 2em;
  padding-right: 2em;
}

.flexbox_logo_link {
  margin-left: 5%;
}

.introduction_section {
  display: flex;
  flex-direction: column;
  padding: 0em 2em;
}

.name_and_intro_box {
  text-align: center;
  margin: 2em 0em;
  padding: 1em;
}

.second_line {
  font-weight: bold;
}

.design_box {
  font-size: 0.9em;
  margin-bottom: 7em;
  padding: 1em;
}

.about_me_section {
  display: flex;
  flex-direction: column;
  padding: 0em 2em;
}
.header_box {
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

.para_box {
  padding: 1em;
  margin-bottom: 7em;
}

.skillset_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox_skills_section {
  display: block;
}
