.top_nav_bar_section {
  display: none;
}
.projects_wrapper {
  padding: 4rem;
  gap: 7rem;
}
.introduction_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0em 4em;
  gap: 2em;
}

.name_and_intro_box {
  text-align: center;
  margin: 2em 0em;
  padding: 1em;
  display: block;
}

.design_box {
  font-size: 0.9em;
  margin-bottom: 5em;
  padding: 1em;
  background-color: rgb(41, 41, 41);
}

.about_me_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.header_box {
  text-align: center;
  font-size: 1.35rem;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 1em;
}

.skillset_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flexbox_skills_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: rows;
  flex-wrap: wrap;
  gap: 2em;
  margin: auto;
  margin-bottom: 6rem;
}

.flexbox_nav_links {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 4em;
}

.projects_section {
  display: flex;
  flex-direction: column;
}

.project_one_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
}

.project_one_card_upper {
  width: 100%;
  min-height: 7em;
  background-image: url("portfolio/Images/charity.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-bottom: 0px;
}

.project_one_card_lower {
  border: 2px solid white;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  background-color: rgb(41, 41, 41);
  border-radius: 1.3em;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}

.project_two_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
}

.project_two_card_upper {
  width: 100%;
  height: 7em;
  background-image: url("portfolio/Images/goat.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-bottom: 0px;
}

.project_two_card_lower {
  background-color: rgb(41, 41, 41);
  padding: 1rem 2rem;
  border-radius: 1.3em;
  border: 2px solid white;
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}

.project_three_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 7em;
  margin-bottom: 10em;
}

.project_three_card_upper {
  width: 100%;
  height: 7em;
  background-image: url("portfolio/Images/colormatch.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-bottom: 0px;
}

.project_three_card_lower {
  background-color: rgb(41, 41, 41);
  border-radius: 1.3em;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}

.flexbox_contact_image_links_box {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  text-align: center;
}

.github_image_link {
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: rgb(41, 41, 41);
}

.linkedIn_image_link {
  grid-column: 2 / -1;
  background-color: rgb(41, 41, 41);
}

.replit_image_link {
  grid-column: 1 / 2;
  background-color: rgb(41, 41, 41);
}

.email_image_link {
  grid-column: 2 / -1;
  grid-row: 2;
  background-color: rgb(41, 41, 41);
}

.aboutme_box_two {
  background-color: rgb(41, 41, 41);
  border-radius: 1.3em;
  font-size: 0.9em;
  margin-bottom: 10em;
  padding: 1em;
}

@media (min-width: 425px) {
  .project_one_card_upper {
    min-height: 15em;
  }

  .project_two_card_upper {
    min-height: 15em;
  }

  .project_three_card_upper {
    min-height: 15em;
  }
}

@media (min-width: 768px) {
  .top_nav_bar_section {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    min-height: 10%;
    background-color: rgb(35, 35, 35);
    font-size: minmax(1em, 2em);
    box-shadow: #000000ee 0px 5px 10px;
    z-index: 1000;
    border-bottom: 1px solid #000000ee;
    align-items: center;
  }

  .flexbox_nav_links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 4em;
  }

  .introduction_section {
    display: flex;
    flex-direction: row;
  }

  .project_one_card_upper {
    min-height: 22em;
  }

  .project_two_card_upper {
    min-height: 22em;
  }

  .project_three_card_upper {
    min-height: 22em;
  }
}

@media (min-width: 1160px) {
  .project_one_card_upper {
    min-height: 27em;
  }

  .project_two_card_upper {
    min-height: 27em;
  }

  .project_three_card_upper {
    min-height: 27em;
  }
}

@media (min-width: 1380px) {
  .project_one_card_upper {
    min-height: 30em;
  }

  .project_two_card_upper {
    min-height: 30em;
  }

  .project_three_card_upper {
    min-height: 30em;
  }
}
