.container {
  color: white;
  display: grid;
  grid-template-columns: minmax(320px, auto);
  grid-template-rows: auto auto auto auto auto;
}

.introduction_section {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  border-bottom: solid 1px white;
}
.about_me_section {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  border-bottom: solid 1px white;
}

.skillset_section {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  border-bottom: solid 1px white;
}

.projects_section {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  border-bottom: solid 1px white;
}
.contact_section {
  grid-column: 1 / -1;
  grid-row: 6 / -1;
  background-color: black;
  border-bottom: solid 1px white;
}

.name_and_intro_box {
  background-color: rgb(41, 41, 41);
  border-radius: 1.3em;
}
.design_box {
  background-color: rgb(41, 41, 41);
  border-radius: 1.3em;
}

.about_me_box {
  background-color: rgb(41, 41, 41);
  border-radius: 1.3em;
}

#skills_heading {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: center;
  padding-bottom: 4em;
}
.skill_one {
  background-color: rgb(41, 41, 41);
  text-align: center;
  padding: 2em;
  border-radius: 1.3em;
}
.skill_two {
  background-color: rgb(41, 41, 41);
  text-align: center;
  padding: 2em;
  border-radius: 1.3em;
}
.skill_three {
  background-color: rgb(41, 41, 41);
  text-align: center;
  padding: 2em;
  border-radius: 1.3em;
}
.skill_four {
  background-color: rgb(41, 41, 41);
  text-align: center;
  padding: 2em;
  border-radius: 1.3em;
}

.project_one_card_lower {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
}

.project_one_name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project_one_short_desc {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.project_one_lang_used_box {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  text-align: right;
}

.project_two_card_lower {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
}

.project_two_name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project_two_short_desc {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.project_two_lang_used_box {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  text-align: right;
}

.project_three_card_lower {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
}

.project_three_name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project_three_short_desc {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.project_three_lang_used_box {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  text-align: right;
}

@media (min-width: 768px) {
  .skillset_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
