* {
  box-sizing: border-box;
}

body {
  clip-path: polygon(0 0, 100% 0, 100% 32%, 100% 58%, 81% 23%, 50% 20%, 25% 10%, 0 9%);
  font-size: calc(12px + 0.4vw);
  background-color: hsl(0, 1%, 11%);
  margin: 0;
  font-family: Montserrat, sans-serif;
}

#home_link_words {
  color: white;
  text-shadow: 0 0 7px #ffffffee, 0 0 10px #57a8f4ee, 0 0 10px #57a8f4ee,
    0 0 10px #57a8f4ee;
  text-decoration: none;
}
#home_link_words:hover {
  color: #57a8f4ee;
  text-shadow: none;
  font-weight: bold;
}

#about_me_link_words {
  color: white;
  text-shadow: 0 0 7px #ffffffee, 0 0 10px #57a8f4ee, 0 0 10px #57a8f4ee,
    0 0 10px #57a8f4ee;
  text-decoration: none;
}
#about_me_link_words:hover {
  color: #57a8f4ee;
  text-shadow: none;
  font-weight: bold;
}

#skills_link_words {
  color: white;
  text-shadow: 0 0 7px #ffffffee, 0 0 10px #57a8f4ee, 0 0 10px #57a8f4ee,
    0 0 10px #57a8f4ee;
  text-decoration: none;
}

#skills_link_words:hover {
  color: #57a8f4ee;
  text-shadow: none;
  font-weight: bold;
}

#projects_link_words {
  color: white;
  text-shadow: 0 0 7px #ffffffee, 0 0 10px #57a8f4ee, 0 0 10px #57a8f4ee,
    0 0 10px #57a8f4ee;
  text-decoration: none;
}

#projects_link_words:hover {
  color: #57a8f4ee;
  text-shadow: none;
  font-weight: bold;
}

#contact_link_words {
  color: white;
  text-shadow: 0 0 7px #ffffffee, 0 0 10px #57a8f4ee, 0 0 10px #57a8f4ee,
    0 0 10px #57a8f4ee;
  text-decoration: none;
}

#contact_link_words:hover {
  color: #57a8f4ee;
  text-shadow: none;
  font-weight: bold;
}

.number_one {
  margin-right: 0.5em;
}

.number_two {
  margin-right: 2em;
}

.number_three {
  margin-right: 2em;
}

.number_four {
  margin-right: 2em;
}

.number_five {
  margin-right: 2em;
}

.number_six {
  margin-right: 0.7em;
}

.button_resume {
  background: linear-gradient(134deg, #57a8f4ee 1%, #57a8f4ee 99%);
  color: rgb(248, 248, 248);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  min-width: min-width(15%);
  height: auto;
  font-size: 12px;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  margin: 4em 0em;
  font-weight: bold;
}



@media (min-width: 768px) {
  .introduction_section {
    margin-top: 6em;
  }
}